<div class="section well post_img">
  <ul class="photos clearfix">
    <% post.childs.each do |child| %>
      <li id="photo-#{child.id}"><%= link_to image_tag(child.attachment.url(:small), :width => 110), post_url(child, :photo => true), :class => "photo-list" %></li>
    <% end %>
    <!--/photos--></ul>
  <div class="photo_description">
    <%= post.body %>
  </div>
  <%= render :partial => "shared/meta", :locals => {:post => post} %>
  <!--/section--></div>
