	  <div class="entry">
	    <div class="info"><span class="compact"><a href="http://localhost/gelato/index.php/post/8/">Link</a>&nbsp;<a href="index.php?edit=8"><img src="/images/edit.png" alt="" title="" /></a>&nbsp;<a href="index.php?delete=8"><img src="/images/delete.png" alt="" title="" /></a></span>

	      <p>Aug 10</p>

	    </div>

	    <div class="post">

	      <span class="option"><a href="http://localhost/gelato/index.php/post/8/"></a></span>

	      <p>	<p>タイトルがない場合。タイトルがない場合。タイトルがない場合。</p> 
              
	      <p>タイトルがない場合。タイトルがない場合。タイトルがない場合。</p> 
              
	      <p>タイトルがない場合。タイトルがない場合。タイトルがない場合。</p> 
              
	      <p>タイトルがない場合。タイトルがない場合。タイトルがない場合。</p></p>

	    </div>

	  </div>
