	  <div class="entry">
            <div class="info"><span class="compact"><a href="http://localhost/gelato/index.php/post/6/">Link</a>&nbsp;<a href="index.php?edit=6"><img src="/images/edit.png" alt="" title="" /></a>&nbsp;<a href="index.php?delete=6"><img src="/images/delete.png" alt="" title="" /></a></span>

    <p>Aug 10</p>

  </div>

  <div class="post">

    <span class="option">ここに文字。</span>

    <div class="conversation"><ul> 
	<li class="odd"> 
	  <span class="label">	<p>Geek:</span> 
	  Wow an open source tumblelog CMS!!.<br /> 
	</li> 
	<li class="even"> 
	  <span class="label">Normal:</span> 
	  Tumble&#8230; what??<br /> 
	</li> 
	<li class="odd"> 
	  <span class="label">Geek:</span> 
	  Read the wikipedia!!</p> 
</li> 
</ul> 
</div>

</div>

</div>
