@charset "utf-8";

html {
	background-color: #feda15;
}

a {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #39b449;
}

a:hover {
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
}

.frontpage .section,#frontpage_header {
	color: #0b4b7e;
}